.sec8-txt1{
    padding-top:59px;
    padding-left:80px;
    width: 529px;
    height: 85px;
    text-align: left;
    font: normal normal medium 30px/42px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 30px;
}
.sec8-txt2{
padding-left:80px;
padding-top:70px;
width: 570px;
height: 51px;
text-align: left;
font: normal normal normal 19px/24px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.sec8-img1{
    padding-top:94.5px;
left: 871px;
width: 362px;
height: 70px;
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
}